*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/backend/functions/venv
/.idea
/backend/.idea
/backend/functions/__pycache__
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
