<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_fairshare"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_fairshare"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fair_Division"
        tools:targetApi="31">
        <activity
            android:name=".AddItemsActivity"
            android:parentActivityName=".HomeChoiceActivity"
            android:exported="false" />
        <activity
            android:name=".ChoresActivity"
            android:exported="false" />
        <activity
            android:name=".GoodsActivity"
            android:exported="false" />
        <activity
            android:name=".SessionActivity"
            android:exported="false"
            android:label="@string/title_activity_session"
            />
        <activity
            android:name=".AllocationActivity"
            android:exported="false"
            android:label="@string/title_activity_allocation"
            android:theme="@style/Theme.Fair_Division" />
        <activity
            android:name=".AddCreditsActivity"
            android:exported="false"
            android:label="@string/title_activity_add_credits"
            android:theme="@style/Theme.Fair_Division" />
        <activity
            android:name=".CreditsActivity"
            android:exported="false" />
        <activity
            android:name=".AddPeopleActivity"
            android:exported="false" />
        <activity
            android:name=".HomeChoiceActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>